.App {
    text-align: center;
    font-family: "ROKABold";
    white-space: pre-wrap;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }


.Animal_frame_top{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }

  .animalInfoLeft{
    width: 20%;
    height: 100%;
  }

  .animalName{
    text-align: left;
    font-size: 200%;
    font-weight: bolder;
  }
  
  .animalText{
    font-size: 20px;
    text-align: left;
  }

  .animalInfoLeftLine{
    height: 2px;
    background-color: lightgray;
    margin-bottom: 10%;
    margin-right: 20%;
  }

  .A_img_card{
    width: 30%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
  }

  .animalInfoRight{
    width: 20%;
  }

  .animalCard{
    width: 100%;
    border: 0px;
  }

  .table_A{
    width: 300px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    border-collapse: collapse;
  }

  .th_1{
    width: 35%;
    padding: 5px;
    text-align: center;
  }

  .td_1 {
    text-align: center;
    padding: 5px;
  }
  
  .Animal_frame_bottom{
    display: block;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
    background-color: #E0FACC;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-left: 8%;
    padding-right:8%;
  }

  .A_nft_card{
      margin-left: 20px;
      margin-right: 20px;
      border: 2px solid #E0FACC;
  }


  .App-link {
    color: #61dafb;
  }
  
  #DropdownAnimalname{
    background: #E0FACC;
  } 