.buyBack{
    font-family: 'Do Hyeon', sans-serif;
}

.Buy_frame_top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


.NFT_img_card{
    border: 2px solid #43BCC6;
    margin-right: 50px;
    border-radius: 15px ;
}

.buyNFTCard{
    border-radius: 15px !important;
}

.buyTopRight{
    height: 100%;
    width: 30%;
}

.buyTopRightTitle{
    font-size: 300%;
    text-align: start;
}

.buyTopRightDate{
    font-size: 130%;
    text-align: start;
    color: grey;
    margin-bottom: 10%;
    margin-left: 3%;
}

.buytopRightInfo{
    display: flex;
    justify-content: space-between;
    font-size: 120%;
    padding-left: 5%;
    padding-right: 5%;
}

.buytopRightInfoLine{
    height: 20px;
    width: 2px;
    background-color: lightgray;
}

.buyTopRightBuy{
    text-align: right;
    font-size: 150%;
    margin-top:30%;
    padding-right: 5%;
    color: gray;
}

.buyTopRightPrice{
    font-size:200%;
    color: black;
    margin-top: -3%;
    display: flex;
    justify-content: end;
}

.buyTopRightLogo{
    margin-right: 5%;
}

.buyTopRightButton{
    width: 35%;
    height: 50px;
}

.NFT_info_card{
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

.table_B{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #43BCC6;
    text-align: left;
    border-collapse: collapse;
}

.th_2 {
    border: 2px solid #43BCC6;
    padding: 5px;
    background: #43BCC6;
}

.td_2 {
  border-bottom: 2px solid #43BCC6;
  padding: 5px;
}

.NFT_buy_btn {
    float: right;
}

.buyBottomText{
    margin-top: 5%;
    font-size: 200%;
}
.Buy_frame_bottom{
    width: 100%;
    height: 400px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #43BCC6;
  }

.Buy_nft_card{
    width: 256px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #43BCC6;
}