.buyBack{
    font-family: 'Do Hyeon', sans-serif;
}

.Buy_frame_top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}


.NFT_img_card{
    border: 2px solid #43BCC6;
    margin-right: 50px;
}

.NFT_info_card{
    margin-left: 50px;
    align-items: center;
    justify-content: center;
}

.table_B{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #43BCC6;
    text-align: left;
    border-collapse: collapse;
}

.th_2 {
    border: 2px solid #43BCC6;
    padding: 5px;
    background: #43BCC6;
}

.td_2 {
  border-bottom: 2px solid #43BCC6;
  padding: 5px;
}

.NFT_buy_btn {
    float: right;
}

.Buy_frame_bottom{
    margin: 0 auto 200px;
    width: 80%;
    height: 400px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #43BCC6;
  }

.Buy_nft_card{
    width: 256px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid #43BCC6;
}