.exploreSpinnerBack{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 804px;
}

.exploreBack {
    height:100%;
    font-family: 'Do Hyeon', sans-serif;
    margin-bottom: 5%;
    min-height: 1200px;
}

.rankingBack {
    margin-top: 5%;
    border: 2px solid #E0FACC;
    background-color: #E0FACC;
}
.rankingList {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 5%;
    font-size: 200%;
}

.rankingTxt {
    margin-left: 12%;
    margin-top:1%;
    font-size: 50px;
}
.rankingCard {
    width: 100%;
    height: 10%;
    box-shadow: 1px 1px 1px 1px gray;
}

.RankingCardBody {
    display: flex;
    align-items: center;
    justify-content: start;
}

.RankingCardtext {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
}

.RankingCardLeft{
    width: 180px;
    margin-bottom: 0px !important;
    font-size: 2rem !important;
    display: flex !important;
}

.RankingCardRight{
    padding-top: 8px !important ;
}
.RankingCardBadge{
    display: inline !important;
    font-size: 1.2rem !important;
}
.rankingImg{
    margin-left:2.5%;
    margin-right:2.5%;
}

.marketBack {
    display: flex;
    flex-wrap: wrap;
    min-height: 1000px;
}

.marketTxt {
    width: 100%;
    height: 6%;
    margin-top:4%;
    display: flex;
    padding-left: 12%;
    flex-wrap: wrap;
    justify-content: left;
    align-content: flex-start;
    font-size: 70px;
}

.sortBack {
    width: 100%;
    display: flex;
    justify-content: end;
    margin-right: 15%;
}

.marketList {
    margin-top: 3%;
    display: block;
    margin-left: 10%;
}

.marketCardBody {
    height: 100%;
    display: flex;
    padding:1rem !important;
    padding-left: 3rem !important;
}

.marketCardTitle{
    margin-bottom: 0rem !important;
    width: 100px !important;
}

.marketCardPrice{
    margin-top: 25px !important;
}

.marketCard {
    align-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20%;
    box-shadow: 3px 3px 3px 3px gray;
}

.marketImg{
    width: 350px;
}

.nftLink{
    margin:2%;
    height: 472px;
    float: left;
}