  .topBlank{
    height: 74px;
    width: 100%;
    box-shadow: 3px 3px;
  }
  .homepageFrameTop{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    margin-top: 75px;
    margin-bottom: 7%;
    margin-left: auto;
    margin-right: auto;
  }

  .A_img_div{
    width: 100%;
  }


  .homepageFrameMid {
    height: 100%;
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 7%;
    font-family: 'Do Hyeon', sans-serif;
  }

  .homepageFindNFT{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 270%;
  }

  .homepageFrameBottom {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    width: 80%;
    background-color: #E0FACC;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .home_nft_card{
    width: 256px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 2px solid #E0FACC;
}

.btmBar {
  background-color: #777777;
  font-family: 'Press Start 2P', cursive;
}

.btmBarTop{
  height: 100%;
  align-content: center;
}

.btmNav {
  background-color: #777777;
  height: 100%;
}

.btmTab{
  font-size: 18px;
  width: 60%;
  height: 72px;
  display: flex;
  align-content: center;
  align-items: center;
  margin-right: 15%;
}

.btmBarLogo{
  height: 10px;
}

.btmBarMid{
  padding-left: 10%;
  padding-right: 10%;
  height: 5px;
}
.btmBarMidLine{
  width: 100%;
  height: 2px;
  background-color: #393939;
}

.btmBarBtm{
  
  display:flex;
  justify-content: space-between;
  padding: 1%;
  padding-left: 16.4%;
}

.git{
  padding-right: 18.4%;
  
}

.gitAdd{
  margin-left: 5%;
  display: flex;
  font-size: 15px;
  font-weight: bold;
}