.Mint_frame_top{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.Mint_img_card{
    margin-right: 100px;
    border: 4px solid #E0FACC;
}

.Mint_form{
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

.Mint_btn{
    float: right;
    margin-top: 30px;
}