
.profileBack {
    width: 100%;
    min-height: 697px;
    display: flex;
    font-family: 'Do Hyeon', sans-serif;
    margin-bottom: 5%;
}

.profileLeft {
    margin-top: 50px;
    width: 25%;
    display: table;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    background-color: #f8fdf8;
    border: 1px solid #fdf8f0;
}

.proflieName{
    margin-top: 11.5%;
    width: 100%;
    height: 20px;
    font-size: 50px;
    font-weight: bold;
}

.Mint_div{
    height: 100%;
    padding: 10px;
    padding-top: 500px;
}

.MintDivTitle{
    font-size: 30px;
    font-weight: bold;

}

.mintDiv{
    height: 200px;
    padding: 5%;
    font-size: 20px;
}

.mintLabel1{
    margin-bottom: 0 !important;
}

.mintLabel2{
    margin-bottom: 0 !important;
}

.mintBtn{
    border-radius: 1rem !important;
}

.profileRight{
    margin-top: 50px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.tapLine{
    margin-top: 3%;
    margin-left: 8%;
    height: 3%;
    font-size: 50px;
}

.profileList{
    display: block;
    height: 100%;
    padding-right: 5%;
    padding-left: 5%;

}

.profileImg{
    float: left;
    height: 400px;
    width: 250px;
    margin-right:2%;
    margin-left:2%;
    margin-top:2%;
}
.profileCardBody {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileCardBtn{
    display:inline !important;
    margin-bottom: 10px;
}

.profileCard {
    align-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20%;
    box-shadow: 2px 2px 2px 2px gray;
}

.nftFooter{
    margin-bottom: 5px !important;
}

