.App {
    text-align: center;
    font-family: "ROKABold";
}

.profileBack {
    width: 100%;
    display: flex;
    font-family: 'Do Hyeon', sans-serif;
}

.profileLeft {
    margin-top: 50px;
    width: 25%;
    display: table;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    background-color: #f8fdf8;
    border: 1px solid #fdf8f0;
}

.proflieName{
    margin-top: 40%;
    width: 100%;
    height: 20px;
    font-size: 30px;
    font-weight: bold;
}

.profileNo{
    margin-top: 15px;
    width: 100%;
    height: 20px;
    font-size: 30px;
    font-weight: bold;
}

.wallet{
    margin-top: 20%;
    width: 100%;
    height: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: "ROKABold";
}

.walletAddress{
    margin-top: 15px;
    width: 100%;
    height: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: "ROKABold";
}

.profileRight{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.tapLine{
    margin-top: 3%;
    margin-left: 8%;
    width: 100%;
    height: 3%;
    font-size: large;
}

.profileList{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 5%;

}

.profileImg{
    width: 30%;
    margin:2%
}
.profileCardBody {
    height: 100%;
    display: flex;
    justify-content: center;
}

.profileCard {
    align-content: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20%;
    box-shadow: 2px 2px 2px 2px gray;
}

.Mint_div{
    padding: 10px;
}
